[Desktop Entry]
Type=Application
Name=st-Simple Terminal
Comment=simple-terminal emulator for X
Icon=utilities-terminal
Exec=st
Categories=System;TerminalEmulator
